<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/base,xml"/>

    <appender name="JSON_APPENDER" class="com.bervan.logging.AppenderDelegator">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>date</fieldName>
                    <pattern>dd-MM-yyyy HH:mm:ss:SSS</pattern>
                    <timeZone>CET</timeZone>
                </timestamp>
                <message>
                    <fieldName>msg</fieldName>
                </message>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <stackTrace/>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {"package":"%replace(%replace(%replace(%caller{1}){'Caller\\+\\d+\\s*at\\s*',''}){'^(.*)\\.([^.]+)\\.([^.(]+)\\(.*$','$1'}){'[\\r\\n\\t]',''}"}
                    </pattern>
                </provider>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {"class":"%replace(%replace(%replace(%caller{1}){'Caller\\+\\d+\\s*at\\s*',''}){'^.*\\.([^.]+)\\.([^.(]+)\\(.*$','$1'}){'[\\r\\n\\t]',''}"}
                    </pattern>
                </provider>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {"method":"%replace(%replace(%replace(%caller{1}){'Caller\\+\\d+\\s*at\\s*',''}){'^.*\\.([^.(]+)\\(.*$','$1'}){'[\\r\\n\\t]',''}"}
                    </pattern>
                </provider>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {"line":"%replace(%replace(%replace(%caller{1}){'Caller\\+\\d+\\s*at\\s*',''}){'^.*:(\\d+)\\).*$','$1'}){'[\\r\\n\\t]',''}"}
                    </pattern>
                </provider>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.bervan" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="JSON_APPENDER"/>
    </root>
</configuration>