@import "../blue-theme.css";

html {
  --vaadin-input-field-background: var(--lumo-base-secondary-color);
  --vaadin-input-field-label-color: var(--lumo-third-text-color);
  --vaadin-input-field-hovered-label-color: var(--lumo-primary-color);
  --vaadin-input-field-focused-label-color: var(--lumo-primary-color);
  --vaadin-checkbox-label-color: var(--lumo-third-text-color);
  --vaadin-input-field-icon-color: var(--lumo-third-text-color);
}

.ql-toolbar {
  margin-bottom: 10px;
}

.ql-container {
  border: 2px solid #5f5f60 !important;
}

.ql-editor {
  color: var(--ql-editor-text-color);
}

vaadin-tooltip-overlay::part(overlay) {
  background-color: var(--vaadin-tooltip-bgColor);
}

.v-loading-indicator {
  background-color: var(--vaadin-progress-bar-color) !important;
}

vaadin-notification-card[theme="success"]::part(overlay) {
  background-color: var(--vaadin-notification-card-bgColor-success) !important;
}

vaadin-notification-card[theme="warning"]::part(overlay) {
  background-color: var(--vaadin-notification-card-bgColor-warning) !important;
}

vaadin-notification-card[theme="primary"]::part(overlay) {
  background-color: var(--vaadin-notification-card-bgColor-primary) !important;
}

vaadin-notification-card[theme="error"]::part(overlay) {
  background-color: var(--vaadin-notification-card-bgColor-error) !important;
}

.pocket-tile-in-menu {
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
}

vaadin-upload-file {
  color: var(--lumo-third-text-color) !important;
}

vaadin-upload > vaadin-button::part(label) {
  color: var(--lumo-primary-color) !important;
  /*  button Upload File*/
}

vaadin-upload-file::part(status) {
  color: var(--lumo-third-text-color) !important;
  /*  processing file info*/
}

vaadin-upload > [slot="drop-label-icon"] {
  color: var(--lumo-primary-color) !important;
  /*  icon upload */
}

vaadin-upload > [slot="drop-label"] {
  color: var(--lumo-primary-color) !important;
  /*  drop field text */
}

vaadin-icon {
  color: var(--lumo-third-text-color) !important;
}

vaadin-icon:hover {
  color: #5f5f60 !important;
}

vaadin-text-field::part(input-field) {
  color: var(--lumo-third-text-color);
}

vaadin-combo-box::part(input-field) {
  color: var(--lumo-third-text-color);
}

vaadin-combo-box-item {
  color: var(--lumo-third-text-color);
}

vaadin-text-area::part(input-field) {
  color: var(--lumo-third-text-color); 
}

vaadin-password-field::part(input-field) {
  color: var(--lumo-third-text-color); 
}

vaadin-number-field::part(input-field) {
  color: var(--lumo-third-text-color); 
}

a {
  color: var(--lumo-primary-color);
}

h1, h2, h3, h4 {
  color: var(--vaadin-input-field-label-color);
}

[slot='drawer'] {
  background-color: var(--menu-bar-color);
}

.body {

}

vaadin-grid::part(row) {

}

vaadin-app-layout {
}

.side-menu {
  max-width: 100vw;
  height: 100vh;
  background-color: #f8f9fa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: -150vw; /* hidden */
  padding: 10px;
  transition: right 0.5s ease;
  overflow: hidden;
}

.side-menu.visible {
  right: 0; /* Visible */
  overflow-x: scroll;
}

vaadin-button vaadin-icon {
  color: var(--vaadin-icon-in-button-color) !important;
}

.selected-route-button {
  background-color: var(--lumo-primary-color) !important;
  color: var(--lumo-secondary-text-color) !important;
}

vaadin-grid::part(header-cell) {
  background-color: var(--lumo-secondary-color) !important;
  color: white !important;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 10px;
}

vaadin-grid-sorter {
  color: white !important;
}


vaadin-grid::part(cell) {
  background-color: white;
  color: var(--table-cell-text-color);
}

.option-button {
  background-color: var(--lumo-secondary-color);
  color: var(--lumo-body-text-color);
  text-decoration: none;
}

.option-button-warning {
  background-color: orangered;
}

[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
  color: var(--lumo-secondary-text-color);
}

[slot='drawer'] nav a .la {
  margin-top: calc(var(--lumo-space-xs) * 0.5);
}

[slot='drawer'] nav a::before {
  border-radius: var(--lumo-border-radius);
  bottom: calc(var(--lumo-space-xs) * 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--lumo-space-xs) * 0.5);
  transition: background-color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: white
}

[slot='drawer'] nav a[highlight]::before {
  background-color: rgba(var(--lumo-secondary-rgba-color), 0.25)
}

[slot='drawer'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}

.menu-item-link {
  display: flex;
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  position: relative;
  color: var(--lumo-secondary-text-color);
}

.menu-item-text {
  font-weight: 500;
  font-size: var(--lumo-font-size-s);
}

.menu-item-icon {
  margin-inline-end: var(--lumo-space-s);
  font-size: var(--lumo-font-size-l);
}

.view-title {
  margin: 0;
  font-size: var(--lumo-font-size-l);
}

.view-header {
  align-items: center;
  background-color: var(--menu-bar-color);
  box-sizing: border-box;
  display: flex;
  height: var(--lumo-size-xl);
  width: 100%;
}

.view-toggle {
  color: white;
}

.app-name {
  align-items: center;
  display: flex;
  height: var(--lumo-size-xl);
  margin: 0;
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  font-size: var(--lumo-font-size-m);
}

.drawer-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.menu-item-container {
  border-bottom: 1px solid;
  flex-grow: 1;
  overflow: auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  align-items: center;
  display: flex;
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  padding-bottom: var(--lumo-space-xs);
  padding-top: var(--lumo-space-xs);
}