html {
  --lumo-primary-color: #e64833;
  --lumo-font-family: 'Roboto';
}

[slot='drawer'] {
  /*background-color: #FBE9D0;*/
  background-color: #90aead;
}

.body {
  background-color: #fbe9d0;
}

/*.bervan-page {*/
/*    background-color: #fbe9d0;*/
/*}*/

vaadin-app-layout {
  background-color: #fbe9d0;
  color: white;
}

.selected-route-button {
  background-color: #e64833 !important;
}

.option-button {
  background-color: #90aead;
  color: white;
  text-decoration: none;
}

[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
  color: #244855;
}

[slot='drawer'] nav a .la {
  margin-top: calc(var(--lumo-space-xs) * 0.5);
}

[slot='drawer'] nav a::before {
  border-radius: var(--lumo-border-radius);
  bottom: calc(var(--lumo-space-xs) * 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--lumo-space-xs) * 0.5);
  transition: background-color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: white
}

[slot='drawer'] nav a[highlight]::before {
  background-color: rgba(203, 187, 184, 0.42)
}

[slot='drawer'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}

.menu-item-link {
  display: flex;
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  position: relative;
  color: var(--lumo-secondary-text-color);
}

.menu-item-text {
  font-weight: 500;
  font-size: var(--lumo-font-size-s);
}

.menu-item-icon {
  margin-inline-end: var(--lumo-space-s);
  font-size: var(--lumo-font-size-l);
}

.view-title {
  margin: 0;
  font-size: var(--lumo-font-size-l);
}

.view-header {
  align-items: center;
  background-color: #244855;
  border-bottom: 1px solid;
  box-sizing: border-box;
  display: flex;
  height: var(--lumo-size-xl);
  width: 100%;
}

.bervan-table-view vaadin-grid {
  background-color: #244855;
}

.view-toggle {
  color: white;
}

.app-name {
  align-items: center;
  display: flex;
  height: var(--lumo-size-xl);
  margin: 0;
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  font-size: var(--lumo-font-size-m);
}

.drawer-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.menu-item-container {
  border-bottom: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  flex-grow: 1;
  overflow: auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  align-items: center;
  display: flex;
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  padding-bottom: var(--lumo-space-xs);
  padding-top: var(--lumo-space-xs);
}

vaadin-grid::part(header-cell) {
  --vaadin-grid-cell-background: #90aead;
  --vaadin-grid-header-color: white;
}