html {
  --lumo-primary-color: #f4976c;
  --lumo-secondary-text-color: #ffffff;
  --lumo-font-family: 'Roboto';
  /*bgcolor*/
  --lumo-base-color: #545454;
  --lumo-body-text-color: #f4976c;
  --vaadin-input-field-background: white;
  --vaadin-input-field-label-color: white;
  --vaadin-input-field-focused-label-color: var(--lumo-primary-color);
  --vaadin-checkbox-background: white;
  --vaadin-input-field-hover-highlight: white;
}

a {
  color: var(--lumo-primary-color);
}

h1, h2, h3, h4 {
  color: var(--vaadin-input-field-label-color);
}

[slot='drawer'] {
  background-color: var(--lumo-primary-color);
}

.body {
  color: #e8b097;
}

vaadin-text-field, vaadin-text-area::part(input-field) {
  --vaadin-input-field-background: white !important;
  --vaadin-input-field-border-color: white !important;
  --vaadin-input-field-hover-highlight: white !important;;
}

vaadin-grid::part(row) {

}

vaadin-app-layout {
  color: #e8b097;
}

.selected-route-button {
  background-color: var(--lumo-primary-color) !important;
  color: var(--lumo-secondary-text-color) !important;
}

vaadin-grid::part(header-cell) {
  background-color: #fbe8a6 !important;
  color: white !important;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 10px;
}

vaadin-grid-sorter {
  color: white !important;
}


vaadin-grid::part(cell) {
  background-color: white;
  color: var(--lumo-primary-color);
}

.option-button {
  background-color: #fbe8a6;
  color: var(--lumo-body-text-color);
  text-decoration: none;
}

[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
  color: var(--vaadin-input-field-label-color);
}

[slot='drawer'] nav a .la {
  margin-top: calc(var(--lumo-space-xs) * 0.5);
}

[slot='drawer'] nav a::before {
  border-radius: var(--lumo-border-radius);
  bottom: calc(var(--lumo-space-xs) * 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--lumo-space-xs) * 0.5);
  transition: background-color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: white
}

[slot='drawer'] nav a[highlight]::before {
  background-color: rgba(248, 246, 246, 0.06)
}

[slot='drawer'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}

.menu-item-link {
  display: flex;
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  position: relative;
  color: var(--lumo-secondary-text-color);
}

.menu-item-text {
  font-weight: 500;
  font-size: var(--lumo-font-size-s);
}

.menu-item-icon {
  margin-inline-end: var(--lumo-space-s);
  font-size: var(--lumo-font-size-l);
}

.view-title {
  margin: 0;
  font-size: var(--lumo-font-size-l);
}

.view-header {
  align-items: center;
  background-color: var(--lumo-primary-color);
  box-sizing: border-box;
  display: flex;
  height: var(--lumo-size-xl);
  width: 100%;
}

.view-toggle {
  color: white;
}

.app-name {
  align-items: center;
  display: flex;
  height: var(--lumo-size-xl);
  margin: 0;
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  font-size: var(--lumo-font-size-m);
}

.drawer-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.menu-item-container {
  border-bottom: 1px solid;
  flex-grow: 1;
  overflow: auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  align-items: center;
  display: flex;
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  padding-bottom: var(--lumo-space-xs);
  padding-top: var(--lumo-space-xs);
}