html {
    /*button background (selected/important), loading progress bar */
    --lumo-primary-color: #070f54;
    --ql-editor-text-color: #070f54;
    /*button background, table header background, */
    --lumo-secondary-color: rgba(0, 176, 215);
    /*drawer menu selected option background*/
    --lumo-secondary-rgba-color: 0, 176, 215;
    /*menu text color, */
    --lumo-secondary-text-color: #ffffff;
    /*h1-h4, field text value */
    --lumo-third-text-color: #9bbee1;
    --lumo-font-family: 'Roboto';
    /*bgcolor*/
    --lumo-base-color: #fdfdfd;
    /*inputs background color*/
    --lumo-base-secondary-color: #f5f5f7;
    /*drawer menu background*/
    --menu-bar-color: rgb(10, 48, 119);
    /*table rows text*/
    --table-cell-text-color: rgb(7, 7, 7);
    /*table rows bg*/
    --table-cell-bgColor: white;
    /*button text color*/
    --lumo-body-text-color: white;
    /*checkbox not checked bg color*/
    --vaadin-checkbox-background: #838386;
    --vaadin-notification-card-bgColor-primary: blue;
    --vaadin-notification-card-bgColor-warning: orange;
    --vaadin-notification-card-bgColor-error: red;
    --vaadin-notification-card-bgColor-success: blue;
    --vaadin-progress-bar-color: white;
    --vaadin-tooltip-bgColor: #838386;
    --vaadin-icon-in-button-color: white;
    --pocket-menu-drawer-bgColor: white;
    --pocket-tile-in-menu-bgColor: white;
    --pocket-tile-in-menu-textColor: white;
}