html {
    /*button background (selected/important), loading progress bar */
    --lumo-primary-color: #6a5d4d; /* Earthy brown */
    --ql-editor-text-color: #e5e1df; /* Soft beige */
    /*button background, table header background */
    --lumo-secondary-color: rgba(138, 121, 103, 0.8); /* Muted brown */
    /*drawer menu selected option background */
    --lumo-secondary-rgba-color: 138, 121, 103;
    /*menu text color */
    --lumo-secondary-text-color: #e5e1df; /* Soft beige */
    /*h1-h4, field text value */
    --lumo-third-text-color: #a7a58e; /* Muted olive */
    --lumo-font-family: 'Roboto'; /* Keeping the font family unchanged */
    /*bgcolor */
    --lumo-base-color: #2c2723; /* Deep brown */
    /*inputs background color */
    --lumo-base-secondary-color: #6a5d4d; /* Earthy brown */
    /*drawer menu background */
    --menu-bar-color: #2c2723; /* Deep brown */
    /*table rows text */
    --table-cell-text-color: #e5e1df; /* Soft beige */
    /*table rows bg*/
    --table-cell-bgColor: #6a5d4d; /* Earthy brown */
    /*button text color */
    --lumo-body-text-color: #ffffff; /* Pure white */
    /*checkbox not checked bg color */
    --vaadin-checkbox-background: #8a7967; /* Muted brown */
    --vaadin-notification-card-bgColor-primary: #6a5d4d; /* Earthy brown */
    --vaadin-notification-card-bgColor-warning: #e5e1df; /* Soft beige */
    --vaadin-notification-card-bgColor-error: #8a7967; /* Muted brown */
    --vaadin-notification-card-bgColor-success: #a7a58e; /* Muted olive */
    --vaadin-progress-bar-color: #6a5d4d; /* Earthy brown */
    --vaadin-tooltip-bgColor: #2c2723; /* Deep brown */
    --vaadin-icon-in-button-color: #ffffff; /* Pure white */
    --pocket-menu-drawer-bgColor: #6a5d4d; /* Earthy brown */
    --pocket-tile-in-menu-bgColor: #a7a58e; /* Muted olive */
    --pocket-tile-in-menu-textColor: #ffffff; /* Pure white */

    /*-------------------------*/
    --vaadin-input-field-background: var(--lumo-base-secondary-color);
    --vaadin-input-field-label-color: var(--lumo-third-text-color);
    --vaadin-input-field-hovered-label-color: var(--lumo-primary-color);
    --vaadin-input-field-focused-label-color: var(--lumo-primary-color);
    --vaadin-checkbox-label-color: var(--lumo-third-text-color);
    --vaadin-input-field-icon-color: var(--lumo-third-text-color);
    --vaadin-input-field-border-color: black;
    --vaadin-input-field-border-width: 1px;
    --movie-tile-background: var(--lumo-base-secondary-color);
    --selected-cell-background: green;
    --spreadsheet-header-row-background: var(--lumo-secondary-color);
    --spreadsheet-row-number-background: var(--lumo-secondary-color);
    --menu-item-text-color: var(--lumo-third-text-color);
    --view-toggle-icon-color: white;

    /*colorPickerTest: rgb(152, 85, 11);*/
    --menu-selected-app-background: 152, 85, 11;
    --menu-selected-app-background-opacity: 0.25;
    --menu-selected-app-color: white;
    --menu-link-app-color: var(--lumo-third-text-color);

    --button-background-color: var(--lumo-base-secondary-color);
    --button-color: white;

    --table-header-row-background: var(--lumo-secondary-color);
    --table-header-row-color: white;

    --selected-route-button-color: var(--lumo-secondary-text-color);
    --selected-route-button-background: var(--lumo-primary-color);

    --vaadin-icon-hover-color: #bdb8b8;

    /*does not work*/
    --vaadin-icon-color: white;

    --drop-file-here-input-color: white;
    --drop-file-here-icon-color: white;
    --processing-file-info-label-color: white;
    --upload-button-text-color: white;
    --upload-button-background: var(--lumo-primary-color);

    /*what is it*/
    --vaadin-upload-file-color: white;

    --ql-editor-content-background: white;
    --ql-toolbar-background: white;
    --ql-editor-content-background-color: white;
    --ql-editor-content-text-color: black;
}